.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px;
  /* margin-bottom: 20px;
  margin-top: 20px; */
}

.labelForm {
  color: #000;
}

.inputField {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  color: #000;
  background-color: #fff;
}

.errorText {
  color: red;
  font-size: 12px;
}

.addContact {
  margin: 20px auto 10px;
  background-color: #d9cccc;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;

  transition-duration: 0.4s;
  border-radius: 5px;
}

button:hover {
  background-color: #c2a9a9;
}
